body {
	margin: 0px 0px;
}
#main {
	margin: 0px 0px;
}
#toolbar {
	background-color:#00ffff;
	margin: 0px 0px;
}
#lower {
	margin: 0px 0px;
}
#friends {
	background-color:#ff00ff;
	display: inline-block;
	height: 100%;
}
#map {
	display: inline-block;
	height: 100%;
	vertical-align: text-top;
}
#locations {
	background-color:#f00fff;
	display: inline-block;
	height: 100%;
	float:right;
}
