body {
	margin: 0px 0px;
}
#main {
	margin: 0px 0px;
	text-align: center;
	font: 25px trebuchet, bold,sans-serif;
	color: #1D2F57;
}
	#toolbar {
		background-color:#7483A2;
		margin: 0px 0px;
	}
		#title {
			display: inline-block;
		}
		#checkin {
			display: inline-block;
			float: right;
			width: 10%;
			vertical-align: text-bottom;
		}
	#lower {
		margin: 0px 0px;
		position:relative;
	}
		#friends {
			background-color:#7FBA89;
			position:absolute;
			top:0;
			left:0;
			height: 10%;
			float:left;
		}
		#map {
			display: inline-block;
			height: 100%;
			vertical-align: text-top;
			position:absolute;
		}
		#locations {
			background-color:#7FBA89;
			display: inline-block;
			height: 10%;
			top:0;
			right:0;
			position:absolute;
		}
